.first_block{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/img1.jpg');
    height: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.init_text h1{
    font-size: 5rem;
}
.init_text{
    color: aliceblue;
    padding-top: 50px;
    
}
.text{
    position: relative;
    top: 4rem;
}
.images{
    background-color: var(--primary-color);
}
.images .col-4{
    overflow: hidden;
}
.images img{
    transition: 300ms ease-in-out;
}
.images img:hover{
    transform: scale(1.1);
    
}


/* Second Block */


.second_block h1{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 3rem;
}
.second_block p{
    color: var(--text-color);
}
.second_block h2{
    font-size: 2rem;
    color: var(--text-color);
}
.second_block a{
    color: var(--text-color);
    font-size: 1.3rem;
}
.second_block a:hover{
    color: rgb(217, 217, 217);
}
.second_block_description{
    background: var(--primary-color);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 50px;
}


/* Third Block */


.third_block .container{
    width: 50%;
}
.third_block .container h1{
    font-size: 3rem;
}
.third_block .container p{
    font-size: 1.3rem;
}
.third_block .container .text-center {
    color: var(--primary-color);
}
.third_block .container .text-center h1{
    font-size: 4rem;
    font-weight: 700;
}



.fourth_block{
    background-color:var(--fourth-bg-color) ;
}
.fourth_block_description{
    background: #fff;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.fourth_block_description h1{
    color: var(--primary-color);
    font-weight: 900;
    font-size: 3rem;
}
.fourth_block_description p{
    color: var(--primary-color);
}
.fourth_block_description h2{
    font-size: 2rem;
    color: var(--primary-color);
}
.fourth_block_description a{
    color: var(--primary-color);
    font-size: 1.3rem;
}
.fourth_block_description a:hover{
    color: rgb(217, 217, 217);
}
.fourth_block_images{
    margin-top: 50px;
    margin-bottom: 30px;
}
